.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #29a645;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListEdit:hover{
    background-color: #25953e;
    transform: scale(1.1);
}


.productListDelete{
    color: #db3546;
    cursor: pointer;
    transition: background-color 0.3s;
}

.productListDelete:hover{
    color: #c5303f;
    transform: scale(1.2);
}